.form-input{
    display: block;
    width: 30%;
    padding: 20px;
    border: 2px dashed ;
}
.form-input h2{
    color: rgb(0, 0, 0);
}
.join-screen, .fs-screen{
    display: none;
}
.active{
    display: block;
}